body {
	margin-right: auto;
	margin-left: auto;
	width: 700px;
	text-align: center;
	background-image: url("https://38.media.tumblr.com/5c04c7949ca60552cdd2258dbee9cce6/tumblr_mrdyacE8cW1rbj0weo1_500.gif");
}

